body{
    width: 1024px;
    margin:0px auto;
    background-color: #d4addb;
  }

  .borde{
    display: flex;
    align-items: flex-end;
  }
  
  #linea{
    box-shadow: 7px 7px 7px black;
    border: 10px solid #0a5a85;
  }

  a{
    width: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    border-radius: 10px;
    margin: 100px 8px;
    padding: 3px 5px;
    background-color: #5a2d63;
    color: white;
    text-decoration: none;
  }


  a:hover{
    background-color:  whitesmoke;
    color: #5a2d63;

  }

  a:active{
    background-color:  whitesmoke;
    color: rgb(4, 124, 44);
  }